<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BoxTextFieldDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4711A5C71F31CD0B003CB68B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4711A5E31F31CD0B003CB68B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4711A5EE1F31CD0B003CB68B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
